.git
.gitignore
.gcloudignore
.env
**/__pycache__
**/*.pyc
README.md
doc/
LICENSE
.env.example
build-frontend.sh
build.sh
deploy.sh
frontend-src/
node_modules/
.yarn/
.yarnrc.yml
.prettierignore
package.json
yarn.lock
